<header class="header">
  <div class="header-container">
    <% if (user) { %>
      <div class="user-info">
        <span>Welcome, <%= user.name %>!</span>
      </div>
    <% } %>
  </div>
</header>
